@font-face {
    font-family: "Graphik";
    src: url(../css/fonts/Graphik.woff);
}

@font-face {
    font-family: "Graphik bold";
    src: url(../css/fonts/Graphik-Bold.woff);
}

*{
    box-sizing: border-box;
}

body , html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Graphik";
}

ul , li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

button{
    cursor: pointer;
    outline: none;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
}

h1, h2, h3{
    margin: 0;
}

.container{
    width: 1240px;
    margin: 0 auto;
}



