*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none;
    color: white;
}

a{
    text-decoration: none;
}

.background{
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 94px;
}

.container{
    max-width: 1050px;
    margin: 0 auto;
}

.main{
    font-size: 24px;
    font-weight: 145px;
    line-height: 32px;
}

.header, .header_ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    padding: 30px 0 134px;
}

.header_li:not(:last-of-type){
    margin-right: 20px;
}

.title{
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    max-width: 600px;
    margin-bottom: 35px;
}

.text{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    max-width: 367px;
    margin-bottom: 42px;
}

.input{
    Width: 277px;
    Height: 60px;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    padding-left: 28px;
    box-sizing: border-box;
}

.input::placeholder{
    color: white
}

.button{
    width:186px;
    height: 60px;
    background: #23A6F0;
    border-radius: 30px;
    border: none;
    margin-left: 22px;
}

.second{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 607px;
    padding-left: 416px;
}

.second_title{
    font-size: 40px;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

.second-text{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 112px;
}
.industry{
    background: #252B42;
    padding: 112px 0;
}

.gallery{
    display: flex;
    justify-content: space-around;
}

.gallery_text{
    max-width: 237px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
}

.gallery_button{
    width: 165px;
    height: 42px;
    border-radius: 21px;
    border: none;
    background: #23A6F0;
}

.gallery_item{
    position: relative;
}

.gallery_item-abs{
    position: absolute;
    bottom: 37px;
    left: 20px;
}