.modal-window{
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: none;
}

.modal{
    max-width: 550px;
    text-align: center;
    background: rgb(65, 65, 65);
    padding: 0 0 50px;
    box-sizing: border-box;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content > div img{
    max-width: 550px;
    border-radius: 15px;
}

.modal-content > h2{
    margin: 30px 0;
    font-size: 30px;
    font-weight: bold;
    color: rgb(160, 160, 160);
}

.modal-content > ul{
    text-align: left;
    padding: 30px;
    color: rgb(160, 160, 160);
}

.modal-content > ul li:not(:last-child){
    margin-bottom: 15px;
}

.close{
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.modal-form{
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: none;
}

.modal-second{
    max-width: 550px;
    text-align: center;
    background: rgb(65, 65, 65);
    padding: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-main > p{
    margin-bottom: 40px;
    color: white;
    font-size: 20px;
}

#email{
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-bottom: 20px;
}

#button-second{
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.close-second{
    color: white;
}