body{
    font-family: 'Roboto', sans-serif;
    max-width: 1560px;
    margin: 0 auto;
    z-index: 1;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    padding: 41px 0 22px;
    position: relative;
}

.building-square{
    position: absolute;
    content: '';
    width: 303px;
    height: 95px;
    background: rgba(255, 151, 0, 1);
    top: 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.header-burger{
    display: flex;
    align-items: center;
    position: relative;
}

.checkbox{
    position: absolute;
    z-index: 4;
    display: block;
    width: 21px;
    height: 21px;
    margin: 0;
    opacity: 0;
}

.checkbox:checked ~ .header-checkbox>.header-line:first-of-type{
    transform: rotate(45deg) translate(4px, 5px);
}

.checkbox:checked ~ .header-checkbox>.header-line:nth-of-type(2){
    transform: rotate(-45deg) translate(-1px, 0);
}

.checkbox:checked ~ .header-checkbox>.header-line:last-of-type{
    opacity: 0;
}

.checkbox:checked ~ .header-menu{
    display: block;
    position: fixed;
    background: rgba(255, 151, 0, 1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.header-checkbox{
    z-index: 3;
}

.header-line{
    height: 2px;
    background: white;
    transition: 500ms linear;
}

.header-line:last-of-type{
    width: 15px;
}

.header-line:not(:last-of-type){
    margin-bottom: 4px;
    width: 21px;
}

.burger-text{
    font-weight: 900;
    font-size: 23px;
    line-height: 32px;
    color: white;
    margin-left: 21px;
}

.header-menu{
    display: flex;
    align-items: center;
    display: none;
    text-align: center;
}

ul{
    margin-top: 10%;
}

.header-li{
    display: block;
    margin-right: 0;
    margin-bottom: 30px;
}

.header-li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.header-button{
    color: rgba(255, 151, 0, 1);
    font-weight: bold;
    font-size: 35px;
    padding: 15px 60px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.header-button:hover, .header-img:hover, .checkbox:hover, .about-button:hover{
    cursor: pointer;
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A3ABB6;
    margin-right: 50px;
}

.header-img{
    display: inline-block;
}

.header-img:not(:first-of-type){
    margin-left: 25px;
}

.building{
    padding-bottom: 83px;
}

.building-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.building-title{
    max-width: 528px;
    font-family: Arial;
    font-weight: 900;
    font-size: 80px;
    line-height: 113px;
    color: #A3ABB6;
    transform: matrix(0, -1, 1, 0, 0, 0);
    position: absolute;
    bottom: 144px;
    left: -131px;
    z-index: 1;
}

.building-architecture{
    max-width: 388px;
    font-size: 45px;
    line-height: 53px;
    color: #A3A9B7;
    transform: matrix(-0.01, -1, 1, -0.01, 0, 0);
    position: absolute;
    bottom: 150px;
    left: -29px;
    z-index: 1;
}

.building-sky{
    font-weight: 900;
    font-size: 25px;
    line-height: 116.99%;
    letter-spacing: 0.05em;
    color: #A3A9B7;
    position: absolute;
    top: 25px;
    left: 171px;
}

.building-line{
    width: 4px;
    height: 64px;
    background-color: #A3A9B7;
    position: absolute;
    top: 39px;
    left: 0;
}

.building-picture{
    position: absolute;
    left: 0;
    top: 462px;
    z-index: 0;
}

.building-text{
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.035em;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 32px;
    left: 283px;
}

.building-project{
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 71px;
    left: 283px;
}

.building-img{
    max-width: 100%;
}

.about{
    padding: 0;
}

.container-about{
    max-width: 965px;
    margin: 0 auto;
    padding-bottom: 42px;
    position: relative;
}

.about-img{
    transform: rotate(-89.97deg);
    position: absolute;
    bottom: 0;
    left: 178px;
    z-index: 0;
}

.about-main{
    display: flex;
    justify-content: space-between;
}

.about-picture{
    z-index: 1;
}

.main{
    position: relative;
}

.about-us{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 11px;
}

.about-title{
    max-width: 233px;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 35px;
}

.about-text{
    max-width: 510px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.015em;
    text-indent: 2px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 57px;
}

.about-figure{
    font-family: Arial;
    font-weight: 900;
    font-size: 66px;
    line-height: 93px;
    letter-spacing: -0.115em;
    text-indent: 2px;
    color: #000000;
    position: absolute;
    left: 9px;
    top: 260px;
}

.square{
    width: 108px;
    height: 140px;
    border: 3px solid black;
    position: absolute;
    top: 271px;
    left: 0;
    bottom: 151px;
    margin-bottom: 54px;
}

.about-words{
    margin-left: 134px;
    margin-bottom: 123px;
}

.about-working{
    max-width: 175px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.015em;
    text-indent: 2px;
    color: #000000;
    margin-bottom: 16px;
}

.about-line{
    width: 64px;
    height: 3px;
    background: #000000;
}

.about-button{
    color: rgba(255, 151, 0, 1);
    padding: 11px 53px;
    border: 1px solid rgba(255, 151, 0, 1);
    background-color: white;
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120.69%;
    letter-spacing: 0.015em;
    text-indent: 1px;
}

.project{
    padding: 81px 0;
}

.project-houses{
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.015em;
    text-indent: 2px;
    color: #000000;
    margin-bottom: 41px;
    margin-left: 240px;
}

.carousel-page{
    margin-left: 25px;
}

.carousel-page:not(:last-of-type){
    margin-left: 25px;
}

.carousel-page > img{
    max-width: 100%;
}

.hotel{
    margin-bottom: 43px;
    max-width: 340px;
}

.project-text{
    display: flex;
    align-items: center;
}

.line-project{
    background-color: rgba(163, 169, 183, 1);
    height: 4px;
    width: 48px;
    margin-right: 15px;
}

.becam-hotel{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.07em;
    text-indent: 2px;
    color: #A3A9B7;
}

.house{
    background-color: #C4C4C4;
    padding: 54px 66px 46px 25px;
    max-width: 340px;
    margin-bottom: 43px;
}

.cadillac{
    max-width: 159px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.015em;
    text-indent: 1px;
    color: #FFFFFF;
}

.city{
    max-width: 123px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.015em;
    text-indent: 1px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.cadillac-text{
    max-width: 249px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.015em;
    text-indent: 1px;
    color: #FFFFFF;
    margin-bottom: 92px;
}

.project-house{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.015em;
    text-indent: 1px;
    color: #FFFFFF;
}

.slick-dots li button {
    width: 7px;
    height: 7px;
    color: transparent;
    outline: none;
    background: #C4C4C4;
    display: inline-block;
}

.slick-dots li button:before {
    content: '';
    margin-top: 40px;
}

.slick-dots li button:checked, .slick-dots li button:focus {
    background: black;
    width: 24px;
    background-color: #FF9700;
}

.slick-list{
    padding-bottom: 52px;
}

.architecture{
    padding: 0 0 131px;
}

.container-architecture{
    max-width: 952px;
    margin: 0 auto;
    position: relative;
}

.architecture-box{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.architecture-words{
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-indent: 1px;
    color: rgba(163, 169, 183, 0.9);
    margin-bottom: 12px;
}

.architecture-title{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-indent: 1px;
    color: #000000;
    margin-bottom: 44px;
}

.architecture-text{
    max-width: 486px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    text-indent: 1px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 37px;
}

.arc-line{
    width: 444px;
    height: 1px;
    left: 14px;
    top: 292px;
    background:  rgba(75, 12, 12, 0.3);
    position: absolute;
}

.line-arc{
    width: 157px;
    height: 1px;
    left: 147px;
    top: 286px;
    background: rgba(0, 0, 0, 0.3);
    transform: rotate(90deg);
    position: absolute;
}

.architecture-design{
    display: flex;
    align-items: center;
}

.architecture-design > img{
    margin-right: 18px;
}

.architecture-consulting{
    font-weight: 500;
    font-size: 14px;
    line-height: 120.69%;
    letter-spacing: 0.015em;
    text-indent: 1px;
    color: #000000;
}
.architecture-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 37px;
    column-gap: 50px;
    margin-bottom: 55px;
}

.arc-button{
    text-align: center;
}

.architecture-img{
    position: absolute;
    top: 326px;
    right: 189px;
    z-index: 0;
}

.architecture-picture{
    z-index: 1;
}

.clients-container{
    background: url('../img/bg1.png');
    padding: 69px 0 112px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.clients-container > div{
    margin-left: 242px;
}

.clients-bg{
    position: absolute;
    top: 207px;
    left: 240px;
    transform: rotate(-89.97deg);
    z-index: 0;
}

.clients-main{
    display: flex;
}

.clients-img{
    margin-right: 79px;
    z-index: 1;
}

.clients-title{
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.07em;
    text-indent: 1px;
    color: #000000;
    margin-bottom: 43px;
}

.clients-name{
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.125em;
    text-indent: 1px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 27px;
}

.clients-nasa{
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.095em;
    text-indent: 1px;
    color: #FF9700;
    margin-bottom: 32px;
}

.clients-text{
    max-width: 424px;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    text-align: justify;
    letter-spacing: 0.085em;
    color: #C4C4C4;
    margin-bottom: 33px;
    margin-left: 59px;
    position: relative;
}

.clients-text::before{
    position: absolute;
    content: ',,';
    transform: rotate(178.94deg);
    font-family: Ribeye;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px;
    letter-spacing: 0.095em;
    text-indent: 1px;
    color: #C4C4C4;
    left: -68px;
    top: -16px;
}

.carousel-clients{
    margin-left: 20px;
    max-width: 623px;
}

.carousel-clients > .slick-dots {
    width: 100%;
    text-align: start;
}

.blog{
    padding: 75px 0 49px;
    border-bottom: 1px solid #A3A9B7;
}

.blog-container{
    max-width: 950px;
    margin: 0 auto;
}

.blog-new{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.095em;
    text-indent: 1px;
    color: #000000;
    margin-bottom: 38px;
}

.blog-variations{
    display: flex;
    justify-content: space-between;
}

.blog-text{
    display: flex;
    margin-top: 21px;
}

.blog-line{
    width: 22px;
    height: 4px;
    background: #A3A9B7;
    margin-right: 23px;
    margin-top: 8px;
}

.blog-words{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.095em;
    text-indent: 1px;
    color: #000000;
}

.footer{
    padding: 85px;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
}

.footer-arc{
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.095em;
    text-indent: 1px;
    color: #000000;
    margin-bottom: 26px;
}

.footer-text{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-indent: 1px;
    color: #000000;
    max-width: 257px;
}

.footer-term{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-indent: 1px;
    color: #000000;
}

.footer-term:hover{
    cursor: pointer;
    color: #FF9700;
}

.footer-term:not(:last-of-type){
    margin-bottom: 11px;
}

.footer-options{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 19px;
}

.footer-language{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #000000;
    font-weight: bold;
}

.footer-select{
    border: none;
    color: #737887;
    opacity: 0.7;
    font-weight: bold;
}

@media (max-width: 1440px){
    .container{
        max-width: 1250px;
    }

    .building-picture{
        left: -10px;
        top: 389px;
        max-width: 245px;
    }
    
    .building-img{
        max-width: 1042px;
    }

    .building-sky{
        left: 117px;
    }

    .building-text{
        left: 242px;
    }

    .building-project{
        left: 242px;
    }

    .project{
        padding: 60px 0;
    }

    .carousel-page > img{
        max-width: 290px;
    }

    .project-houses{
        margin-left: 150px;
    }

    .house{
        padding: 40px 22px
    }

    .cadillac-text{
        margin-bottom: 53px;
    }

    .clients-container{
        padding: 40px 0 70px;
    }
    
    .clients-container > div{
        margin-left: 200px;
    }

    .carousel-clients{
        max-width: 490px;
        margin-left: 10px;
    }
}

@media (max-width: 1300px){
    .container{
        max-width: 1040px;
    }

    .building-picture{
        top: 298px;
    }

    .building-img{
        max-width: 866px;
    }

    .building-sky{
        left: 94px;
    }

    .building-text{
        left: 220px;
    }

    .building-project{
        left: 220px;
    }

    .building-title{
        font-size: 65px;
        top: 280px;
    }

    .building-architecture{
        font-size: 34px;
        top: 326px;
    }

    .container-about{
        max-width: 843px;
    }

    .about-img{
        left: 162px;
        max-width: 244px;
    }

    .about-picture > img {
        max-width: 340px;
    }

    .about-title{
        margin-bottom: 27px;
    }

    .about-text{
        max-width: 420px;
        margin-bottom: 32px;
    }

    .square{
        height: 110px;
        width: 100px;
        top: 251px;
    }

    .about-figure{
        font-size: 55px;
        left: 19px;
        top: 243px;
    }

    .about-words{
        margin-bottom: 80px;
    }

    .carousel-page > img {
        max-width: 320px;
    }

    .house{
        padding: 57px 36px;
    }

    .carousel-page:not(:last-of-type){
        margin-left: 35px;
    }

    .project-houses{
        margin-left: 100px;
        margin-bottom: 20px;
    }

}

@media (max-width: 1090px){
    .container{
        max-width: 750px;
    }

    .clients{
        display: none;
    }

    .building-img{
        max-width: 616px;
    }

    .building-picture{
        top: 197px;
        max-width: 200px;
    }

    .building{
        padding-bottom: 70px;
    }

    .building-sky{
        left: 60px;
    }

    .building-text{
        left: 150px;
    }

    .building-project{
        left: 150px;
    }

    .building-title{
        line-height: 40px;
        font-size: 42px;
        left: -82px;
        top: 220px;
    }

    .building-architecture{
        left: -33px;
        font-size: 24px;
        top: 230px;
    }

    .container-about{
        max-width: 574px;
    }

    .about-img{
        left: 59px;
        max-width: 200px;
        bottom: 37px;
    }

    .about-picture > img{
        max-width: 215px;
        margin-right: 50px;
    }

    .about-us{
        margin-bottom: 3px;
        font-size: 10px;
    }

    .about-title{
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-text{
        max-width: 300px;
        font-size: 13px;
        margin-bottom: 11px;
        line-height: 15px;
    }

    .square{
        top: 210px;
        height: 64px;
        width: 54px;
    }

    .about-figure{
        font-size: 33px;
        top: 186px;
        left: 12px;
    }

    .about-words{
        margin-bottom: 32px;
        margin-left: 87px;
    }

    .about-working{
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 9px;
    }

    .about-line{
        width: 41px;
    }

    .about-button{
        font-size: 11px;
        padding: 9px 18px;
    }

    .project{
        padding: 25px 0 60px;
    }


    .carousel-page > img {
        max-width: 350px;
    }

    .house{
        padding: 70px 46px;
    }

    .carousel-page:not(:last-of-type){
        margin-left: 40px;
    }

    .project-houses{
        margin-left: 80px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 29px;
        margin-left: 0;
    }

    .architecture{
        padding: 40px 0;
    }

    .container-architecture{
        max-width: 770px;
    }

    .architecture-title{
        max-width: 240px;
        font-size: 28px;
        margin-bottom: 28px;
    }

    .architecture-text{
        max-width: 400px;
    }

    .arc-line{
        width: 359px;
        top: 317px;
    }

    .line-arc{
        left: 125px;
        top: 318px;
    }

    .architecture-design > img {
        margin-right: 14px;
    }

    .architecture-picture > img{
        max-width: 300px;
    }

    .architecture-img{
        right: 140px;
        top: 250px;
        max-width: 200px;
    }
}

@media (max-width: 800px){
    .container{
        max-width: 500px;
    }
}

@media (max-width: 550px){
    .container{
        max-width: 430px;
    }
}

@media (max-width: 480px){
    .container{
        max-width: 310px;
    }
}

@media (max-width: 360px){
    .container{
        max-width: 270px;
    }
}

@media (max-width: 320px) {
    .container{
        max-width: 210px;
    }
}



.select {
    display: block;
    max-width: 215px;
    width: 100%;
    position: relative;
}

.new-select {
    position: relative;
    border: 1px solid #ced4da;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
}

.new-select__list {
    position: absolute;
    top: 45px;
    left: 0;
    border: 1px solid #ced4da;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: #fff;
    user-select: none;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    padding: 10px 15px;
}

.new-select__item span:hover {
    color: #233025;
}

.new-select:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 9px;
    top: 9px;
    background: url('../img/Polygon\ 1.svg') no-repeat right center / cover;
    opacity: 0.6;

    -webkit-transition: all .27s ease-in-out;
        -o-transition: all .27s ease-in-out;
            transition: all .27s ease-in-out;

    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}

.new-select.on:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}