.body{
    font-family: 'Open Sans', sans-serif;
}

.container header{
    max-width: 1300px;
    margin: 0 auto;
}

.header-li{
    display: inline-block;
    margin-right: 44px;
}

.header-li>a{
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
}

.header-ul{
    text-align: center;
}

.header{
    padding: 53px 0;
}

.bg-section{
    background-image: url(../img/background1.png);
    padding: 138px 0 180px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bg-content{
    text-align: center;
}

.bg-title{
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    color: white;
}

.bg-button{
    width: 420px;
    height: 70px;
    background-color: white;
    border-radius: 5px;
    border: none;
    
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
}

.container-text{
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

.text{
    padding: 221px 0 123px 0;
    font-size: 36px;
    line-height: 42px;
    position: relative;
}

.text::before{
    content: "";
    position: absolute;
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    top: 350px;
    left: -364px;
}

.text-first{
    margin-bottom: 216px;
    position: relative;
}

.text-first::before{
    content: "";
    position: absolute;
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    top: -110px;
    left: -364px;
}

.text-first::after{
    content: "";
    position: absolute;
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    top: 0px;
    right: -380px;
}

.text-second{
    position: relative;
}

.text-second::before{
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: #5C98AB;
    border: 1px solid #000000;
    top: -70px;
    left: -30px;
}

.text-second::after{
    content: "";
    position: absolute;
    width: 121px;
    height: 121px;
    border-radius: 50%;
    background: #BFDEFB;
    top: 150px;
    right: -153px;
}

.container form{
    max-width: 647px;
    margin: 0 auto;
    margin-bottom: 729px; 
}

.input-form .input{
    width: 100%;
}

.input-form{
    margin-bottom: 41px;
    position: relative;
}

.input-form:last-of-type{
    margin-bottom: 0;
}

.input{
    padding: 33px 0px 14px 31px;
    border-radius: 4px;
    border-color: 1px solid #000000;
    font-size: 36px;
    box-sizing: border-box;
}

.input::placeholder{
    color: #000000;
}

.label{
    position: absolute;
    top: 14px;
    left: 31px;
}

.button-form{
    width: 100%;
    background-color: #5C98AB;
    color: white;
    font-weight: bold;
    font-size: 36px;
    padding: 21px 0;
    border: none;
    margin-top: 58px;
}