body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 30px 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo>div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);

}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display: inline;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li>a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li>a:hover{
    font-weight: bold;
}

.header-nav>div{
    margin-left: 75px;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #3040C4;
    padding: 18px 28px ;
    border-radius: 2px;
    cursor: pointer;
}

.button:hover{
    background: white;
    color: #3040C4;
    transition: 1s;
}

.startup-main{
    background-color: #F4F5F7;
    padding: 77px 0;
}

.startup{
    display: flex;
    justify-content: space-between;
}

.startup>div{
    margin-left: 29px;
}

.startup-block{
    flex-basis: 555px;
}

.startup-first{
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    color: #2B292D;
}

.startup-second{
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
}

.startup-third{
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
}

.startup-fourth{
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
}

.picture{
    background-color: white;
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.picture-list{
    display: flex;
    align-items: center;
}

.picture-element{
    display: inline;
}

.picture-element:not(:last-child){
    margin-right: 90px;
}

.busy{
    padding: 100px 0;
}

.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-mini{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 25px;
}

.text-mini__blue{
    color: #0189D1;
}

.title-inner{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    max-width: 462px;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
}

.text-inner{
    font-size: 24px;
    line-height: 34px;
    max-width: 461px;
    margin-bottom: 40px;
}

.info{
    padding: 40px 0 100px;
}

.info-flex{
    display: flex;
    justify-content: space-between;
}

.info-p{
    font-size: 18px;
    line-height: 26px;
    max-width: 360px;
    margin-bottom: 10px;
}

.info-p > span{
    font-weight: bold;
}

.info-link{
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-decoration: underline;
    color: #3040C4;
}

.categories{
    background: #ebf7fa;
    padding: 110px 0;
}

.words-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.words-first{
    color:#2B292D;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 24px;
}

.title-first{
    max-width: 555px;
    color:#2B292D;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5 px;
    margin-bottom: 30px;
}

.words-second{
    max-width: 555px;
    color: #2B292D;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 34px;
}

.buttons{
    margin-bottom: 111px;
}

.button-right, .button-left{
    padding: 18px 28px;
    font-size: 18px;
    line-height: 13px;
    border: none;
}

.button-left{
    background-color: #3040C4;
    margin-right: 10px;
    color: white;
}


.button-right{
    background-color: #FFFFFF;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

.images{
    display: flex;
    justify-content: space-between;
}

.images-list{
    padding: 30px 0;
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    width: 262px;
}

.images-list:hover{
    background-color: #3040C4;
    color: white;
    transition: 1s;
}

.grid{
    padding: 45px 0 90px 0;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-bold{
    color: #000000;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 26px;  
}

.about{
    width: 554px;
    color: #172342;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 96px;
    text-align: center; 
}

.wrapper{
    display: grid;
    grid-template-areas:
    "one two three"
    "four five three"
    "four six seven";
    gap: 50px;
}

.wrapper > img{
    width: 100%;
    height: 100%;
}

.wrapper > img:nth-child(1){
    grid-area: one;
}
.wrapper > img:nth-child(2){
    grid-area: two;
}
.wrapper > img:nth-child(3){
    grid-area: three;
}
.wrapper > img:nth-child(4){
    grid-area: four;
}
.wrapper > img:nth-child(5){
    grid-area: five;
}
.wrapper > img:nth-child(6){
    grid-area: six;
}
.wrapper > img:nth-child(7){
    grid-area: seven;
}



@media (max-width: 1200px){
    .container{
        max-width: 1040px;
    }

    .header{
        padding: 15px 0;
        display: none;
    }

    .startup-main{
        padding: 40px 0;
    }

    .picture-list{
        padding: 20px 0;
    }

    .picture-element:not(:last-child){
        margin-right: 70px;
    }

    .busy{
        padding: 80px 0;
    }

    .info-p{
        max-width: 320px;
    }

    .categories{
        padding: 60px 0;
    }

    .buttons{
        margin-bottom: 70px;
    }

    .images-list{
        width: 230px;
    }

    .about{
        margin-bottom: 70px;
    }

    .wrapper{
        gap: 20px;
    }

    .wrapper > img{
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 1090px){
    .container{
        max-width: 750px;
    }

    .header{
        display: none;
    }

    .startup-main{
        padding: 35px 0 0;
    }

    .startup{
    flex-direction: column;
    height: 326px;
    align-items: center;
    }

    .startup-block{
        max-width: 432px;
    }

    .startup-first, .startup-third{
        margin-bottom: 10px;
    }

    .picture{
        padding: 25px 0 10px;
    }

    .picture-list{
        display: grid;
        grid-template-areas:
        "one two three"
        "four five six";
        gap: 30px;
        text-align: center;
    }

    .picture-list > div{
        width: 100%;
        height: 100%;
    }

    .picture-list > div:nth-child(1){
        grid-area: one;
    }
    .picture-list > div:nth-child(2){
        grid-area: two;
    }
    .picture-list > div:nth-child(3){
        grid-area: three;
    }
    .picture-list > div:nth-child(4){
        grid-area: four;
    }
    .picture-list > div:nth-child(5){
        grid-area: five;
    }
    .picture-list > div:nth-child(6){
        grid-area: six;
    }

    .busy{
        padding: 73px 0 0;
    }

    .busy-flex{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .busy-flex > div:first-of-type{
        margin-bottom: 30px;
    }

    .text-mini{
        margin-bottom: 18px;
    }

    .title-inner{
        font-size: 48px;
        max-width: 400px;
        text-align: center;
        margin-bottom: 19px;
    }

    .text-inner{
        font-size: 20px;
        line-height: 26px;
        width: 419px;
    }

    .button{
        margin-bottom: 37px;
    }

    .info{
        padding: 38px 0;
    }

    .info-flex{
        flex-direction: column;
        align-items: center;
    }

    .info-flex > div:not(:first-of-type){
        display: none;
    }

    .categories{
        padding: 50px 0 79px;
    }

    .words-main{
        text-align: center;
    }

    .title-first{
        font-size: 48px;
        margin-bottom: 27px;
    }

    .words-second{
        font-size: 20px;
        line-height: 26px;
        width: 491px;
        margin-bottom: 27px;
        text-align: center;
    }

    .buttons{
        margin-bottom: 52px;
    }

    .images{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .images-list{
        flex-basis: 262px;
    }
    .images-list__one, .images-list__two{
        margin-bottom: 38px;
    }

    .grid{
        padding: 43px 0 125px;
    }

    .title-bold{
        font-size: 48px;
        line-height: 56px;
    }

    .about{
        font-size: 20px;
        width: 400px;
        margin-bottom: 110px;
    }

    .wrapper{
        display: grid;
        grid-template-areas:
        "one three"
        "two three"
        "four five"
        "four six";
        column-gap: 45px;
        row-gap: 30px;
    }

    .wrapper > img:nth-child(7){
        grid-area: seven;
        display: none;
    }
}

@media (max-width: 800px){
     .container{
         max-width: 500px;
     }

     .startup{
        max-width: 330px;
    }

    .picture{
        padding: 15px 0 10px;
        }

    .picture-list{
        display: grid;
        grid-template-areas:
        "one two three"
        "four five six";
        text-align: center;
    }

    .picture-list > div{
        width: 100%;
        height: 100%;
    }

    .picture-list > div:nth-child(1){
        grid-area: one;
    }
    .picture-list > div:nth-child(2){
        grid-area: two;
    }
    .picture-list > div:nth-child(3){
        grid-area: three;
    }
    .picture-list > div:nth-child(4){
        grid-area: four;
    }
    .picture-list > div:nth-child(5){
        grid-area: five;
    }
    .picture-list > div:nth-child(6){
        grid-area: six;
    }


    .grid{
        padding: 30px 0 90px;
    }

    .title-bold{
        font-size: 44px;
        line-height: 50px;
        margin-bottom: 15px;
    }

    .about{
        margin-bottom: 50px;
    }

    .images-list:not(:last-child){
        margin-bottom: 30px;
    }
}

@media (max-width: 550px){
    .container{
        max-width: 430px;
    }

    .picture-list{
        display: grid;
        grid-template-areas:
        "one two three"
        "four five six";
        text-align: center;
        gap: 0;
    }

    .picture-list > div{
        width: 100%;
        height: 100%;
    }

    .picture-list > div:nth-child(1){
        grid-area: one;
    }
    .picture-list > div:nth-child(2){
        grid-area: two;
    }
    .picture-list > div:nth-child(3){
        grid-area: three;
    }
    .picture-list > div:nth-child(4){
        grid-area: four;
    }
    .picture-list > div:nth-child(5){
        grid-area: five;
    }
    .picture-list > div:nth-child(6){
        grid-area: six;
    }

    .busy{
        padding: 50px 0;
    }

    .title-inner{
        font-size: 48px;
        margin-bottom: 20px;
    }

    .busy img{
        max-width: 100%;
    }

    .info-p{
        max-width: 100%;
    }

   .words-main{
       max-width: 100%;
    }

    .words-first{
        margin-bottom: 22px;
    }

    .title-first{
        font-size: 44px;
        line-height: 48px;
    }

    .words-second{
        max-width: 395px;
    }

    .text{
        text-align: center;
    }

    .title-bold{
        font-size: 42px;
        line-height: 49px;
        max-width: 200px;
    }

    .about{
        font-size: 22px;
    }

    .wrapper{
        column-gap: 35px;
        row-gap: 20px;
    }
}

@media (max-width: 480px){
    .container{
        max-width: 310px;
    }

    .startup{
        padding: 0 0 70px;
    }

   .startup-block{
       margin-bottom: 30px;
    }

    .busy-flex{
        padding: 60px 0;
    }

    .text-mini{
        text-align: left;
    }

    .title-inner{
        font-size: 44px;
        line-height: 48px;
        margin-bottom: 20px;
        text-align: left;
    }

    .text-inner{
        max-width: 271px;
        text-align: left;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 35px;
    }

   .title-first{
    font-size: 42px;
    line-height: 42px;
   }

   .words-first{
       margin-bottom: 21px;
   }

   .title-first{
       width: 300px;
       margin: 0 0 20px 0;

   }

   .words-second{
    width: 246px;
    font-size: 22px;
    line-height: 30px;
    margin:0 auto;
   }

   .buttons{
       padding: 30px 0;
   }

   .button-left{
       margin-bottom: 12px;
       width: 100%;
   }

   .button-right{
       width: 100%;
    }

    .images{
        padding: 0 10px;
    }
    
    .grid{
        padding: 50px 0;
    }

    .title-bold{
        font-size: 48px;
        line-height: 50px;
        max-width: 300px;
    }

    .about{
        font-size: 24px;
        max-width: 310px;
        margin-bottom: 30px;
    }

    .wrapper{
        display: grid;
        grid-template-areas:
        "one"
        "four"
        "three"
        "five"
        "six";
        row-gap: 20px;
    }

    .wrapper > img:nth-child(2){
        grid-area: two;
        display: none;
    }

    .wrapper > img:nth-child(7){
        grid-area: seven;
        display: none;
    }
}

@media (max-width: 360px){
    .container{
        max-width: 270px;
        margin: 0 auto;
    }

    .startup-main{
        padding: 46px 0;
    }

    .startup{

    }
}

@media (max-width: 320px){
    .container{
        max-width: 290px;
    }

    .busy{
        padding: 63px 30px 43px 0;
        text-align: left;
    }

    .title-inner{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 18px;
    }

    .text-inner{
        max-width: 290px;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;
        text-align: left;
    }

    .button{
        margin-right: 140px;
        margin-bottom: 40px;
    }

    .categories{
        padding: 50px 15px;
    }

    .title-first{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 18px;
    }

    .words-second{
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .buttons{
        margin-bottom: 40px;
    }

    .images-list{
        height: 300px;
    }

    .grid{
        padding: 0 15px 50px;
    }

}