body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 30px 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line{
    width: 18px;
    height: 2px;
    background-color: #2C3241;
    transition: 500ms linear;
}

.line:not(:last-of-type){
    margin-bottom: 3px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo>div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);

}

.checkbox{
    margin: 0 auto;
}

.checkbox, .line-wrapper{
    display: none;
}

.checkbox-menu{
    display: flex;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display: inline;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li>a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li>a:hover{
    font-weight: bold;
}

.header-nav>div{
    margin-left: 75px;
}

.button-started{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #3040C4;
    padding: 18px 28px ;
    border-radius: 2px;
    cursor: pointer;
}

.button-started:hover{
    background: white;
    color: #3040C4;
    transition: 1s;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #3040C4;
    padding: 18px 28px ;
    border-radius: 2px;
    cursor: pointer;
}


.header-wrapper{
    display: flex;
    position: relative;
    padding-bottom: 100px;
}

.header-wrapper > div:first-of-type{
    max-width: 754px;
    z-index: 1;
}

.header-wrapper > div:last-of-type{
    position: absolute;
    top: 11px;
    right: -25px;
    z-index: 0;
}

.title{
    font-size: 80px;
    font-weight: bold;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 34px;
}

.header-text{
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 60px;
}

.button-white{
    background: white;
    color: #3040C4;
}

.startup-main{
    background-color: #F4F5F7;
    padding: 77px 0;
}

.startup{
    display: flex;
    justify-content: space-between;
}

.startup>div{
    margin-left: 29px;
}

.startup-block{
    flex-basis: 555px;
}

.startup-first{
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    color: #2B292D;
}

.startup-second{
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
}

.startup-third{
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
}

.startup-fourth{
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
}

.picture{
    background-color: white;
    padding: 30px 0;
}

.picture-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.picture-element:not(:last-child){
    margin-right: 90px;
}

.feature{
    padding: 110px 0 78px;
}

.feature-container{
    position: relative;
}


.feature-picture{
    position: absolute;
    top: 258px;
    left: -150px;
}

.feature-words{
    width: 460px;
}

.feature-words > div{
    cursor: pointer;
}

.features{
    font-size: 22px;
    line-height: 34px;
    color: #009B4D;
    font-weight: bold;
    margin-bottom: 24px;
}

.feature-title{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    margin-bottom: 30px;
}

.future-text{
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 42px;
}

.customers{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.feature-customers{
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
}

.customers-icon{
    margin-right: 15px;
}

.customers-text{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    display: none;
}

hr{
    max-width: 457px;
    height: 1px;
    background: #2B292D;
    opacity: 0.15;
    margin-bottom: 21px;
}

.feature-img{
    max-width: 680px;
    position: absolute;
    bottom: -25px;
    right: -149px;
}

.toggleBlue{
    color: rgba(49, 66, 198, 1);
}

.toggleBack{
    background-color: #3142C6;
    height: 3px;
}

.inbox-peach{
    background: #FCF0E3;
    padding: 115px 0;
}

.inbox{
    display: flex;
    justify-content: space-around;
}


.inbox-text{
    font-size: 22px;
    font-weight: bold;
    line-height: 34px;
    color: #F1592B;
    margin-bottom: 24px;
}

.inbox-title{
    font-size: 56px;
    line-height: 56px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #2B292D;
    width: 462px;
    margin-bottom: 30px;
}

.img-inbox:hover{
    transform: skew(10deg, 10deg);
    background: #f1dad5;
}

.inbox-texts{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    width: 461px;
    margin-bottom: 44px;
}

.inbox-figure{
    padding: 30px;
    background-color: white;
    max-width: 519px;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.figure-text{
    width: 459px;
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 26px;
}

.figure-bold{
    font-weight: bold;
}

.figure-elements{
    display: flex;
    align-items: center;
}

.figure-elements > img{
    margin-right: 11px;
}

.figure-p{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
}

.figure-p > span{
    font-weight: bold;
}

.figure-hr{
    height: 4px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #0185D0;
    background-blend-mode: overlay;
    margin-top: 0;
}

.busy{
    padding: 100px 0;
}

.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.change:hover{
    transform: scale(1.5);

}

.text-mini{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 25px;
}

.text-mini__blue{
    color: #0189D1;
}

.title-inner{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    max-width: 462px;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
}

.text-inner{
    font-size: 24px;
    line-height: 34px;
    max-width: 461px;
    margin-bottom: 40px;
}

.hand{
    animation-name: picture;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}

.info{
    padding: 40px 0 100px;
}

.info-flex{
    display: flex;
    justify-content: space-between;
}

.info-p{
    font-size: 18px;
    line-height: 26px;
    max-width: 360px;
    margin-bottom: 10px;
}

.info-p > span{
    font-weight: bold;
}

.info-link{
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-decoration: underline;
    color: #3040C4;
}

.categories{
    background: #ebf7fa;
    padding: 110px 0;
}

.words-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.words-first{
    color:#2B292D;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 24px;
}

.title-first{
    max-width: 555px;
    color:#2B292D;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5 px;
    margin-bottom: 30px;
}

.words-second{
    max-width: 555px;
    color: #2B292D;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 34px;
}

.buttons{
    margin-bottom: 111px;
}

.button-right, .button-left{
    padding: 18px 28px;
    font-size: 18px;
    line-height: 13px;
    border: none;
}

.button-left{
    background-color: #3040C4;
    margin-right: 10px;
    color: white;
}


.button-right{
    background-color: #FFFFFF;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

.images{
    display: flex;
    justify-content: space-between;
}

.images-list{
    padding: 30px 0;
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    width: 262px;
}

.images-list:hover{
    background-color: #3040C4;
    color: white;
    transition: 1s;
}

.hiring{
    padding: 106px 0 0;
}

.hiring-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hiring-title{
    width: 555px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    margin-bottom: 20px;
}

.hiring-text{
    font-size: 24px;
    line-height: 34px;
    width: 555px;
    margin-bottom: 28px;
}

.hiring-button{
    width: 247px;
    background-color: #3040C4;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    padding: 18px 28px;
    border: none;
    margin-bottom: 63px;
}

.hiring-item__container{
    max-width: 750px;
    margin: 0 auto;
}


.hiring-items > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hiring-items{
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 20px
}

.hiring-items > p{
    margin-top: 20px;
    display: none;
}

.hiring-position{
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    font-weight: bold;
}

.hiring-town{
    font-size: 18px;
    line-height: 24px;
    opacity: 0.6;
    color: #2B292D;
}

.hiring-inside{
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    font-weight: normal;
}

.active{
    transform: rotate(90deg);
    transition: 1s;
}

.toggleBg{
    background-color: #3141C5;
}

.toggleColor{
    color: white;
}

.grid{
    padding: 45px 0 90px 0;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-bold{
    color: #000000;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 26px;  
}

.about{
    width: 554px;
    color: #172342;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 96px;
    text-align: center; 
}

.wrapper{
    display: grid;
    grid-template-areas:
    "one two three"
    "four five three"
    "four six seven";
    gap: 50px;
}

.wrapper > img{
    width: 100%;
    height: 100%;
}

.wrapper > img:nth-child(1){
    grid-area: one;
}
.wrapper > img:nth-child(2){
    grid-area: two;
}
.wrapper > img:nth-child(3){
    grid-area: three;
}
.wrapper > img:nth-child(4){
    grid-area: four;
}
.wrapper > img:nth-child(5){
    grid-area: five;
}
.wrapper > img:nth-child(6){
    grid-area: six;
}
.wrapper > img:nth-child(7){
    grid-area: seven;
}

.bg-grey{
    background: #F4F5F7;
    padding: 73px 0;
}

.free-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.free-title{
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-bottom: 12px;
}

.free-text{
    font-size: 22px;
    line-height: 32px;
    max-width: 550px;
    margin-bottom: 26px;
}

.free-form{
    margin-bottom: 10px;
}

.free-input{
    width: 385px;
    padding: 13px 0 15px 12px;
    margin-right: 10px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 18px;
}

.free-input:focus{
    outline: none;
}

.free-input::placeholder{
    font-size: 18px;
    line-height: 13px;
    color: rgba(43, 41, 45, 1);
}

.free-last{
    display: flex;
    font-size: 14px;
    line-height: 22px;
}

.free-link{
    color: rgba(26, 23, 180, 0.6);
    font-weight: bold;
}

.animation-img{
    animation-name: img;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}



.footer-info{
    display: flex;
    justify-content: space-between;
    padding: 135px 0 60px;
}

.footer-info-logo{
    display: flex;
    align-items: center;
}

.footer-info-logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
}

.after-logo-text{
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    max-width: 360px;
    padding: 25px 0;
}

.footer-black-link{
    padding-top: 15px;
    cursor: pointer;
}

.footer-black-link > a{
    text-decoration: none;
}

.footer-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 15px;
}

.footer-list_ul{
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}

.footer-hr{
    height: 1px;
    width: 100%;
    background: #2B292D;
    opacity: 0.3;
}

.footer-bottom-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.link-bottom > a {
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.link-bottom > a:not(:last-child){
    padding-right: 15px;
}

.icon-bottom{
    cursor: pointer;
}

.icon-bottom > img:not(:last-child){
    padding-right: 15px;
}

.footer-lists-adapt{
    display: none;
}

@keyframes picture{
    0%{
        left: 0;
    }

    25%{
        left: -40px;
    }

    50%{
        left: -80px;
    }

    75%{
        left: -40px;
    }

    100%{
        left: 0;
    }
}

@keyframes img{
    0%{
        top: 0;
    }

    25%{
        top: -25px;
    }

    50%{
        top: -50px;
    }

    75%{
        top: -25px;
    }

    100%{
        top: 0;
    }
}

@media (max-width: 1200px){
    .container{
        max-width: 1040px;
    }

    .header{
        padding: 15px 0;
    }

    .startup-main{
        padding: 40px 0;
    }

    .picture-list{
        padding: 20px 0;
    }

    .feature{
        padding: 50px;
    }

    .feature-words{
        width: 400px;
    }

    .feature-picture{
        display: none;
    }

    .feature-title{
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.5px;
        margin-bottom: 20px;
    }

    .feature-img{
        width: 538px;
        height: 446px;
        position: absolute;
        top: 50px;
        right: -50px;
    }

    .inbox-peach{
        padding: 55px 0;
    }

    .change:hover{
        transform: none;
    }

    .busy{
        padding: 80px 0;
    }

    .info-p{
        max-width: 320px;
    }

    .categories{
        padding: 60px 0;
    }

    .buttons{
        margin-bottom: 70px;
    }

    .images-list{
        width: 230px;
    }

    .about{
        margin-bottom: 70px;
    }

    .wrapper{
        gap: 20px;
    }

    .wrapper > img{
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1090px){
    .container{
        max-width: 750px;
    }

    .header{
        padding: 31px 0 0;
    }


    .logo-regular{
        display: none;
    }

    .checkbox-menu{
        position: relative;
    }

    .checkbox{
        position: absolute;
        z-index: 3;
        width: 18px;
        height: 18px;
        opacity: 0;
    }

    .line-wrapper{
        z-index: 2;
    }

    .checkbox:checked ~ .line-wrapper>.line:first-of-type{
        transform: rotate(45deg) translate(3px, 3px)

    }

    .checkbox:checked ~ .line-wrapper>.line:last-of-type{
        transform: rotate(-45deg) translate(4px, -4px)

    }

    .checkbox:checked ~ .line-wrapper>.line:nth-child(2){
        opacity: 0;

    }

    .checkbox:checked ~ .header-nav{
        display: block;
        position: fixed;
        background: #4e6166;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .checkbox, .line-wrapper{
        display: block;
    }

    .header-nav{
        display: none;
        text-align: center;
    }

    .header-nav>div{
        margin-left: 0;
    }

    ul{
        margin-top: 10%;
    }

    .header-li{
       display: block;
       margin-bottom: 20px;
    }

    .header-li:not(:last-child) {
        margin-right: 0px;
    }

    .button-started{
        width: 85px;
        padding: 13px;
        font-size: 9px;
    }

    .header-wrapper{
        display: block;
        position: static;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .header-wrapper > div:last-of-type{
        position: static;
        text-align: center;
    }

    .header-wrapper > div:last-of-type img{
        width: 620px;
    }

    .title{
        width: 525px;
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 0;
    }

    .header-text{
        width: 355px;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .header-wrapper > div:first-of-type button{
        width: 120px;
        font-weight: bold;
        font-size: 16px;
        line-height: 13px;
        padding: 18px 15px;
        margin-bottom: 0;
    }

    .startup-main{
        padding: 35px 0;
    }

    .startup{
        flex-direction: column;
        height: 326px;
        align-items: center;
    }

    .startup-block{
        max-width: 432px;
    }

    .startup-first, .startup-third{
        margin-bottom: 10px;
    }

    .picture{
        padding: 25px 0 10px;
    }

    .picture-list{
        display: grid;
        grid-template-areas:
        "one two three"
        "four five six";
        gap: 30px;
        text-align: center;
    }

    .picture-list > div{
        width: 100%;
    }

    .picture-list > div:nth-child(1){
        grid-area: one;
    }
    .picture-list > div:nth-child(2){
        grid-area: two;
    }
    .picture-list > div:nth-child(3){
        grid-area: three;
    }
    .picture-list > div:nth-child(4){
        grid-area: four;
    }
    .picture-list > div:nth-child(5){
        grid-area: five;
    }
    .picture-list > div:nth-child(6){
        grid-area: six;
    }

    .feature{
        padding: 0  0 67px;
    }

    .feature-container{
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .feature-picture{
        display: block;
        left: -170px;
    }

    .feature-words{
        margin-bottom: 49px;
    }

    .feature-sc{
        width: 457px;
    }

    .features{
        margin-bottom: 12px;
    }

    .feature-title{
        width: 400px;
        margin-bottom: 12px;
    }

    .future-text{
        font-size: 20px;
        line-height: 34px;
        max-width: 392px;
        margin-bottom: 50px;
    }

    .feature-img{
        position: static;
    }

    .info-peach{
        padding: 60px 0; 
    }

    .inbox{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .inbox-list{
        align-items: center;
    }

    .img-inbox{
        margin-top: 75px;
    }
    
    .inbox-text{
        margin-bottom: 15px;
    }

    .inbox-title{
        width: 515px;
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 15px;
    }

    .inbox-texts{
        width: 432px;
        font-size: 20px;
        line-height: 26px;
        margin-left: 35px;
    }

    .inbox-figure{
        box-sizing: border-box;
    }

    .figure-text{
        text-align: start;
        font-size: 20px;
        line-height: 28px;
    }

    .figure-p{
        display: flex;
        flex-direction: column-reverse;
        text-align: start;
        font-size: 16px;
        line-height: 22px;
    }

    .figure-hr{
        margin: 0 auto;
        width: 519px;
    }

    .busy{
        padding: 73px 0 0;
    }

    .busy-flex{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .busy-flex > div:first-of-type{
        margin-bottom: 30px;
    }

    .text-mini{
        margin-bottom: 18px;
    }

    .title-inner{
        font-size: 48px;
        max-width: 400px;
        text-align: center;
        margin-bottom: 19px;
    }

    .text-inner{
        font-size: 20px;
        line-height: 26px;
        width: 419px;
    }

    .button-busy{
        width: 160px;
        margin-bottom: 37px;
    }

    .info{
        padding: 38px 0;
    }

    .info-flex{
        flex-direction: column;
        align-items: center;
    }

    .info-flex > div:not(:first-of-type){
        display: none;
    }

    .categories{
        padding: 50px 0 79px;
    }

    .words-main{
        text-align: center;
    }

    .title-first{
        font-size: 48px;
        margin-bottom: 27px;
    }

    .words-second{
        font-size: 20px;
        line-height: 26px;
        width: 491px;
        margin-bottom: 27px;
        text-align: center;
    }

    .buttons{
        margin-bottom: 52px;
    }

    .images{
        display: grid;
        grid-template-areas:
        "one two"
        "three four";
        gap: 38px;
        text-align: center;
        width: 500px;
        margin: 0 auto;
    }

    .images > div:nth-child(1){
        grid-area: one;
    }
    .images > div:nth-child(2){
        grid-area: two;
    }
    .images > div:nth-child(3){
        grid-area: three;
    }
    .images > div:nth-child(4){
        grid-area: four;
    }


    .grid{
        padding: 43px 0 125px;
    }

    .title-bold{
        font-size: 48px;
        line-height: 56px;
    }

    .about{
        font-size: 20px;
        width: 400px;
        margin-bottom: 110px;
    }

    .wrapper{
        display: grid;
        grid-template-areas:
        "one three"
        "two three"
        "four five"
        "four six";
        column-gap: 45px;
        row-gap: 30px;
    }

    .wrapper > img:nth-child(7){
        grid-area: seven;
        display: none;
    }

    .bg-grey{
        padding: 76px 0 62px;
    }

    .free-flex{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .free-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .free-title{
        width: 325px;
        font-size: 48px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin-bottom: 51px;
    }

    .free-text{
        width: 590px;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 35px;
    }
    
    .free-input{
        width: 290px;
        font-weight: bold;
        margin-right: 18px;
    }

    .button-bg{
        width: 290px;
    }

    .free-last{
        flex-wrap: wrap;
        width: 431px;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 85px;
    }


}

@media (max-width: 800px){
     .container{
         max-width: 500px;
     }

     .title{
        width: 500px;
        font-size: 45px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .header-text{
        width: 355px;
        font-size: 20px;
        line-height: 26px;
    }

     .header-wrapper > div:last-of-type img{
        width: 520px;
    }

     .startup{
        max-width: 330px;
    }

    .picture{
        padding: 15px 0 10px;
        }

    .picture-list{
        display: grid;
        grid-template-areas:
        "one two three"
        "four five six";
        text-align: center;
    }

    .picture-list > div:nth-child(1){
        grid-area: one;
    }
    .picture-list > div:nth-child(2){
        grid-area: two;
    }
    .picture-list > div:nth-child(3){
        grid-area: three;
    }
    .picture-list > div:nth-child(4){
        grid-area: four;
    }
    .picture-list > div:nth-child(5){
        grid-area: five;
    }
    .picture-list > div:nth-child(6){
        grid-area: six;
    }

    img{
        max-width: 100%;
    }

    .feature-picture{
        left: -150px;
    }

    .inbox-list{
        margin: 0 auto;
    }

    .inbox-texts{
        width: 414px;
    }

    .inbox-figure{
        width: 450px;
        margin: 0 auto;
    }

    .figure-text{
        width: 410px;
    }

    .figure-hr{
        width: 450px;
    }

    .images{
        width: 490px;
        gap: 10px;
    }


    .grid{
        padding: 30px 0;
    }

    .title-bold{
        font-size: 44px;
        line-height: 50px;
        margin-bottom: 15px;
    }

    .about{
        margin-bottom: 50px;
    }

    .images-list:not(:last-child){
        margin-bottom: 30px;
    }

    .footer-info, .footer-info-logo{
        flex-direction: column;
    }

    .footer-info-logo> div:first-child{
        margin-right: 0;
        margin-bottom: 15px;
    }

    .footer-info-logo> div:last-child{
        text-align: center;
    }

    .after-logo-text{
        text-align: center;
        margin: 0 auto;
    }

    .footer-black-link{
        text-align: center;
    }

    .footer-list{
        display: none;
    }

    .footer-lists-adapt{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    .footer-lists-adapt>div:last-child{
        text-align: end;
    }

    .bg-grey{
        padding: 45px 0;
    }

    .free-title{
        width: 220px;
        margin-bottom: 20px;
    }

    .free-text{
        width: 490px;
    }

    .free-input{
        margin: 0;
    }

    .button-bg{
        margin-top: 25px;
    }
}

@media (max-width: 550px){
    .container{
        max-width: 430px;
    }

    .button-header{
        margin-right: 20px;
    }

    .title{
        width: 350px;
    }

    .header-wrapper > div:first-of-type .button{
        margin-bottom: 20px;
    }


    .picture-list{
        display: grid;
        grid-template-areas:
        "one two three"
        "four five six";
        text-align: center;
        gap: 10px;
    }

    .picture-list > div:nth-child(1){
        grid-area: one;
    }
    .picture-list > div:nth-child(2){
        grid-area: two;
    }
    .picture-list > div:nth-child(3){
        grid-area: three;
    }
    .picture-list > div:nth-child(4){
        grid-area: four;
    }
    .picture-list > div:nth-child(5){
        grid-area: five;
    }
    .picture-list > div:nth-child(6){
        grid-area: six;
    }

    
    .feature{
        padding: 40px 0;
    }

    .features{
        max-width: 370px;
    }

    .feature-picture{
        display: none;
    }
    
    .feature-title{
        max-width: 390px;
        font-size: 44px;
        line-height: 50px;
    }

    .feature-sc{
        max-width: 360px;
    }

    .customers-text{
        text-align: start;
    }
    
    .feature-img{
        width: 440px;
        height: 330px;
    }

    .inbox{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .inbox-title{
        width: 325px;
        margin: 0 auto;
    }

    .inbox-texts{
        width: 272px;
        margin-top: 15px;
    }

    .inbox-figure{
        width: 350px;
    }

    .figure-text{
        width: 300px;
    }

    .figure-p{
        flex-direction: column;
    }

    .figure-hr{
        width: 350px;
    }

    .busy{
        padding: 50px 0;
    }

    .hand{
        animation: none !important;
    }

    .title-inner{
        font-size: 48px;
        margin-bottom: 20px;
    }

    .busy img{
        max-width: 100%;
    }

    .info-p{
        max-width: 100%;
    }

   .words-main{
       max-width: 100%;
    }

    .words-first{
        margin-bottom: 22px;
    }

    .title-first{
        font-size: 44px;
        line-height: 48px;
    }

    .words-second{
        max-width: 395px;
    }

    .text{
        text-align: center;
    }

    .title-bold{
        font-size: 42px;
        line-height: 49px;
        max-width: 200px;
    }

    .about{
        font-size: 22px;
    }

    .images{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 420px;
    }

    .images > div{
        width: 300px;
        height: 260px;
    }

    .hiring-text{
        width: 260px;
    }

    .hiring-position{
        width: 155px;
    }

    .hiring-town{
        margin-right: 20px;
    }

    .wrapper{
        column-gap: 35px;
        row-gap: 20px;
    }

    .free-text{
        width: 315px;
    }

    .free-last{
        width: 400px;
    }
}

@media (max-width: 480px){
    .container{
        max-width: 310px;
    }

    .checkbox:checked ~ .header-nav{
        background: #F3C6BD;
        z-index: 2;
    }

    .header-wrapper{
        display: flex;
        flex-direction: column;
    }

    .title{
        width: 300px;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
    }

    .header-text{
        font-size: 24px;
        line-height: 34px;
    }

    .button-up{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    .header-wrapper > div:first-of-type button{
        width: 310px;
        margin: 0;
    }

    .startup{
        padding: 0 0 70px;
    }

   .startup-block{
       margin-bottom: 30px;
    }

    .feature-title{
        max-width: 394px;
        font-size: 40px;
        line-height: 45px;
    }

    .future-text{
        width: 390px;
        font-size: 23px;
        line-height: 34px;
    }

    .feature-sc{
        max-width: 360px;
    }

    .customers-text{
        text-align: start;
    }
    
    .feature-img{
        width: 440px;
        height: 330px;
    }

    .inbox-peach{
        padding: 50px;
    }

    .inbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
    }


    .inbox-text{
        margin: 15px 0;
    }

    .inbox-title{
        width: 346px;
        font-size: 35px;
        line-height: 40px;
    }

    .inbox-texts{
        width: 230px;
        margin: 25px 0;
    }

    .inbox-figure{
        width: 250px;
        margin: 0;
    }

    .figure-text{
        width: 200px;
    }

    .figure-hr{
        width: 250px;
        margin: 0;
    }

    .busy-flex{
        padding: 60px 0;
    }

    .text-mini{
        text-align: left;
    }

    .title-inner{
        font-size: 44px;
        line-height: 48px;
        margin-bottom: 20px;
        text-align: left;
    }

    .text-inner{
        max-width: 271px;
        text-align: left;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 35px;
    }

    .info-flex > div{
        margin-bottom: 30px;
    }

    .info-flex > div:not(:first-of-type){
        display: block;
    }

    .info-p{
        margin-bottom: 2px;
    }

   .title-first{
    font-size: 42px;
    line-height: 42px;
   }

   .words-first{
       margin-bottom: 21px;
   }

   .title-first{
       width: 300px;
       margin: 0 0 20px 0;

   }

   .words-second{
    width: 246px;
    font-size: 22px;
    line-height: 30px;
    margin:0 auto;
   }

   .buttons{
       padding: 30px 0;
   }

   .button-left{
       margin-bottom: 12px;
       width: 100%;
   }

   .button-right{
       width: 100%;
    }

    .images{
        padding: 0 10px;
        width: 290px;
    }

    .hiring-title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
    }

    .hiring-text{
        font-size: 24px;
        line-height: 34px;
    }

    .hiring-item__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hiring-items{
        width: 290px;
        height: 140px;
        position: relative;
        border-color: rgba(43, 41, 45, 0.2);
        z-index: 1;
    }

    .hiring-position{
        position: absolute;
        width: 160px;
        top: 19px;
        left: 20px;
    }

    .hiring-town{
        width: 200px;
        position: absolute;
        bottom: 19px;
        left: 20px;
    }

    .hiring-icon{
        width: 7px;
        position: absolute;
        bottom: 64px;
        right: 21px;
        z-index: 2;
    }

    .hiring-items::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 140px;
        background-color: #D5D4D5;
        top: -1px;
        right: 0;
        border-radius: 0px 8px 8px 0px;


    }
    
    .grid{
        padding: 50px 0;
    }

    .title-bold{
        font-size: 48px;
        line-height: 50px;
        max-width: 300px;
    }

    .about{
        font-size: 24px;
        max-width: 310px;
        margin-bottom: 30px;
    }

    .wrapper{
        display: grid;
        grid-template-areas:
        "one"
        "four"
        "three"
        "five"
        "six";
        row-gap: 20px;
    }

    .wrapper > img:nth-child(2){
        grid-area: two;
        display: none;
    }

    .wrapper > img:nth-child(7){
        grid-area: seven;
        display: none;
    }

    .free-last{
        flex-direction: column;
        width: 265px;
    }
}

@media (max-width: 360px){
    .container{
        max-width: 270px;
        margin: 0 auto;
    }

    .header{
        padding: 35px 0;
    }

    
    .header-main{
        padding: 15px 0;
        background-color: white;
    }

    .header-text{
        width: 290px;
    }

    .header-wrapper > div:first-of-type button{
        width: 270px;
    }

    .startup-main{
        padding: 46px 0;
    }

    .after-logo-text{
        display: none;
    }

    .feature-container{
        text-align: start;
    }

    .feature-words{
        max-width: 310px;
    }

    .feature-title{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .future-text{
        font-size: 24px;
        line-height: 34px;
        width: 330px;
        margin-bottom: 33px;
    }

    .feature-customers{
        font-size: 16px;
        line-height: 26px;
    }

    hr{
        width: 290px;
        margin-left: 0;

    }

    .feature-img{
        margin-top: -30px;
        width: 325px;
        height: 250px;
    }

    .inbox-peach{
        padding: 70px 20px;
    }

    .inbox-figure{
        width: 250px;
    }

    .figure-hr{
        width: 250px;
    }

    .images{
        width: 250px;
    }
   
    .images > div{
        width: 290px;
        padding: 22px 0 33px 0;
    }

    .images-list > img{
        margin-bottom: 22px;
    }

    .button-busy{
        display: flex;
        width: 160px;
    }

    .footer-hr{
        display: none;
    }

    .footer-lists-adapt{
        display: none;
    }

    .footer-list{
        display: block;
    }

    .footer-title{
        margin-top: 30px;
    }

    .footer-bottom-flex{
        flex-direction: column;
        align-items: flex-start;
    }

    .icon-bottom{
        margin-top: 30px;
    }

    .free-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .free-main{
        text-align: start;
    }

    .free-title{
        width: 270px;
        font-size: 48px;
        line-height: 45px;
    }

    .free-text{
        width: 260px;
        font-size: 22px;
        line-height: 32px;
    }

    .free-input, .button-bg{
        width: 260px;
    }
}

@media (max-width: 320px){
    .container{
        max-width: 290px;
    }

    .title{
        width: 290px;
        margin-bottom: 24px;
    }

    .header-text{
        width: 290px;
        margin-bottom: 30px;
    }

    .header-wrapper > div:first-of-type button{
        width: 290px;
    }

    .feature{
        padding: 55px 0;
    }

    .feature-words{
        width: 290px;
    }

    .feature-title{
        max-width: 290px;
    }

    .feature-img{
        width: 290px;
        height: 240px;
    }

    .inbox-peach{
        padding: 50px 15px;
    }

    .img-inbox{
        margin-bottom: 32px;
    }

    .inbox-text{
        margin-bottom: 17px;
    }

    .inbox-title{
        width: 290px;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 18px;
    }

    .inbox-texts{
        width: 290px;
        font-size: 24px;
        line-height: 34px;
    }

    .inbox-figure{
        width: 290px;
        padding: 30px 20px;
    }

    .figure-text{
        width: 250px;
    }

    .figure-hr{
        width: 290px;
    }

    .busy{
        padding: 63px 30px 43px 0;
        text-align: left;
    }

    .busy-flex{
        margin-left: 15px;
    }

    .title-inner{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 18px;
    }

    .text-inner{
        max-width: 290px;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;
        text-align: left;
    }

    .picture-list{
        gap: 1px;
    }

    .categories{
        padding: 50px 15px;
    }

    .title-first{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 18px;
    }

    .words-second{
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .buttons{
        margin-bottom: 40px;
    }

    .images > div{
        width: 290px;
        text-align: center;
    }

    .hiring-text{
        width: 290px;
        margin-bottom: 30px;
    }

    .hiring-button{
        width: 290px;
        margin-bottom: 39px;
    }

    .grid{
        padding: 0 15px 50px;
    }

    .bg-grey{
        padding: 86px 20px 14px 10px;
    }

    .free-title{
        font-size: 48px;
        line-height: 40px;
        width: 290px;
        margin-bottom: 18px;
    }

    .free-text{
        width: 290px;
        margin-bottom: 40px;
    }

    .free-input, .button-bg{
        width: 100%;
    }

    .button-bg{
        margin-bottom: 10px;
    }

    .free-last{
        width: 290px;
        font-size: 14px;
        line-height: 22px;
        margin: 0;
    }
}