body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 30px 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo>div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);

}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display: inline;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li>a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li>a:hover{
    font-weight: bold;
}

.header-nav>div{
    margin-left: 75px;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #3040C4;
    padding: 18px 28px ;
    border-radius: 2px;
    cursor: pointer;
}

.button:hover{
    background: white;
    color: #3040C4;
    transition: 1s;
}

.startup-main{
    background-color: #F4F5F7;
    padding: 77px 0;
}

.startup{
    justify-content: space-between;
    display: flex;
}

.startup>div{
    margin-left: 29px;
}

.startupblock{
    flex-basis: 555px;
}

.startupfirst{
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    color: #2B292D;
}

.startupsecond{
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
}

.startupthird{
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
}

.startupfourth{
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
}

.picture{
    background-color: white;
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.picture-list{
    display: flex;
    align-items: center;
}

.picture-element{
    display: inline;
}

.picture-element:not(:last-child){
    margin-right: 90px;
}

