
.fake{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

/* .fake::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
} */


.fake::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background: green;
    top: 50%;
    left: 10%;
    opacity: 0;
    transform: rotate(45deg);
}

.fake::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background: green;
    top: 50%;
    left: 45%;
    opacity: 0;
    transform: rotate(-45deg);
}

.check, .radio{
    opacity: 0;
}

.check:checked~.fake::before, .check:checked~.fake::after, .radio:checked~.fake-radio::before, .radio:checked~.fake-radio::after{
    opacity: 1;
    transition: 1s linear;
}

.fake-radio{
    width: 20px;
    height: 20px;
    border: 1px solid green;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.fake-radio::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}
