.container{
    max-width: 1000px;
    margin: 90px auto;
}

.carousel{
    max-width: 700px;
    margin: 0 auto;
}

.carousel > p{
    text-align: center;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
    color: black;
}